// sizes

$footer-height: 9rem;

//breakpoints

$small: 30em;
$medium: 76em;
$big: 120em;

//fonts

$font-primary: 'Droid Sans', sans-serif;
$font-secondary: 'Cabin', 'Helvetica', sans-serif;

// colors
$dark: #303030;
$main-accent: #aaa;
$main-accent-dark: #ccc;
$bg-primary: #ffffff;

// misc
