<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>
    <header class="home">
        <div class="header-upper">
            <div class="header-cover"></div>
            <div class="header-portrait"><img src="{{ site.base_url }}/assets/images/WillGriffiths.png"></img>
            </div>
        </div>
        <h1 class="header-title">Will Griffiths</h1>
        <h2 class="header-subtitle">A place to stick my code</h2>
    </header>

    <div class="l-main-wrapper">

        <section class="main-content">
            <div class="row clearfix">
                <div class="image right">
                    <a href="http://bl.ocks.org/willgriffiths/d85ef13cd284d3f7313c16819dcb44d2" target="_blank"><img src="{{ site.base_url }}/assets/images/MeteoriteImpacts.png"></img></a>
                </div>
                <div class="text">
                    <h3>Meteor Impacts</h3>
                    <p>Here I used the D3 visualization library to show the 1000 largest meteorite impacts recorded. The earth is rendered using Canvas for performance reasons and the tooltips as SVG.</p>
                </div>
            </div>
            <div class="row clearfix">
                <div class="image">
                    <a href="https://codepen.io/willgriffiths/full/kXVBXB/" target="_blank"><img src="{{ site.base_url }}/assets/images/DungeonCrawler.png"></img></a>
                </div>
                <div class="text">
                    <h3>A Dungeon RPG</h3>
                    <p>This is a role playing game I created for the Freecodecamp curiculum. You can walk around the world, pick up items and slay enemies.</p>
                </div>
            </div>
            <div class="row clearfix">
                <div class="image right">
                    <a href="https://codepen.io/willgriffiths/full/wWmwVy/" target="_blank"><img src="{{ site.base_url }}/assets/images/GameOfLife.png"></img></a>
                </div>
                <div class="text">
                    <h3>Conway's Game of Life</h3>
                    <p>This is my implementation of the legendary cellular automation simulation. The game is built in React. I plan on implementing Canvas to increase the performance.</p>
                </div>
            </div>
        </section>
    </div>
    {% include footer.html %}
</body>

</html>
